{{!-- template where everything gets inserted into --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfoli-Yo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-start">
                <h1>Portfoli-Yo <i class="fa-solid fa-qrcode"></i></h1>
            </div>
            <div class="navbar-end">
                <a href="/" class="navbar-item">Home</a>
                <a href="/dashboard" class="navbar-item">Dashboard</a>
                <a href="/events" class="navbar-item">Events</a>
                <a href="/profile/{{userId}}" class="navbar-item">Profile</a>
                {{#if loggedIn}}
                <button class="navbar-item" id="logout">Logout</button>
                {{else}}
                <a href="/login" class="navbar-item">Login</a>
                {{/if}}
            </div>
        </nav>
    </header>

    {{{body}}}

</body>

<script src="https://kit.fontawesome.com/d8cc2471fb.js" crossorigin="anonymous"></script>
<script src="/js/logout.js"></script>