<div class="card my-5 mx-5">
  <header class="card-header">
    <p class="card-header-title">
      Event #1
    </p>
  </header>
  <div class="card-content">
    <div class="content">
    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    <br>
      Come join us for this totally awesome and real Event!
      <br><br>
      <a href="#">@Event Link</a>
      <br>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Add Event to Calendar</a>
  </footer>
</div>

<div class="card my-5 mx-5">
  <header class="card-header">
    <p class="card-header-title">
      Event #2
    </p>
  </header>
  <div class="card-content">
    <div class="content">
    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    <br>
      Come join us for this totally awesome and real Event!
      <br><br>
      <a href="#">@Event Link</a>
      <br>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Add Event to Calendar</a>
  </footer>
</div>

<div class="card my-5 mx-5">
  <header class="card-header">
    <p class="card-header-title">
      Event #3
    </p>
  </header>
  <div class="card-content">
    <div class="content">
    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    <br>
      Come join us for this totally awesome and real Event!
      <br><br>
      <a href="#">@Event Link</a>
      <br>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Add Event to Calendar</a>
  </footer>
</div>

<script src="/js/login.js"></script>