<div class="center">
    <button class="button loginButton" id="login"><i class="fa-solid fa-check"></i> Login</button>
    <button class="button loginButton" id="signup"><i class="fa-solid fa-check"></i> Signup</button>
</div>

<div class="container is-one-third" id="loginForm" style="display: none">
    <h1 style="text-align:center; font-size:30px; padding:1rem;">Login</h1>
    <form style="margin:2rem">
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" id="username-login" type="text">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" id="email-login" type="email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" id="password-login" type="password">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="center">
            <button class="button submitButton" id="loginSubmit"><i class="fa-solid fa-check"></i>Submit</button>
        </div>

    </form>
</div>

<div class="container is-one-third" id="signupForm" style="display:none">
    <h1 style="text-align:center; font-size:30px; padding:1rem;">Sign Up</h1>
    <form style="margin:2rem">
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" id="username-signup" type="text">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" id="email-signup" type="email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" id="password-signup" type="password">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-lock"></i>
                </span>
            </div>
        </div>

        <div class="center">
            <button class="button submitButton" id="signup-submit"><i class="fa-solid fa-check"></i>Submit</button>
        </div>

    </form>
</div>

<script src="/js/login.js"></script>